<main>
    <div id="main-container">
        <header>
            <h1>Unit 4: Asynchronous Operations: AJAX</h1>
            <nav>
                <ul>
                    <li><button id='btn-get'>GET</button></li>
                    <li><button id='btn-post'>POST</button></li>
                    <li><button id='btn-put'>PUT</button></li>
                    <li><button id='btn-delete'>DELETE</button></li>
                </ul>
                <div id="ajax-type">
                    <input type="radio" name="ajax-type" id="ajax" value="ajax">AJAX XMLHttpRequest
                    <input type="radio" name="ajax-type" id="jquery" value="jquery" checked>jQuery $.ajax()
                </div>
            </nav>
        </header>
        <main>
            <div id="ajax-form"></div>
            <div id="result"></div>
               
            </div>
        </main>
    </div>
</main>