<main>
    <h1>Simple Chat - CHAT FOLDER</h1>
        <div style="float:left; width:300px;">
        <form>
            <input id="msg">
            <button>Send</button>
        </form>
        </div>
        <div style="float:right; width:300px; border: 1px solid royalblue">
            <ul id="messages"></ul>
        </div>
        
        <ul id="news">

        </ul>


    <script>
        var socket = io();
        document.forms[0].addEventListener("submit", function(ev){
            ev.preventDefault();
            let input = document.getElementById("msg");

            //sending to the server side
            socket.emit("my chat", input.value);
            input.value = "";
        })

        var ul = document.getElementById("messages");
        socket.on("my chat", function(msg){
            let li = document.createElement("li");
            li.innerHTML = msg
            ul.appendChild(li);
        })

        var news = document.getElementById("news");
        socket.on("news", function(msg){
            let li = document.createElement("li");
            li.innerHTML = msg
            news.appendChild(li);
        })


    </script>
</main>