<header>
    <h1>Matt Johnson</h1>

    <nav>


        <a href="/">Home</a>&nbsp;
        <a href="about">About</a>&nbsp;
        <a href="contact">Contact</a>&nbsp;
        <a href="portfolio">Portfolio</a>
        <a href="chat">Chat App</a>
        <a href="ajax">Ajax</a>
        <a href="crud">Crud</a>
        <a href="http://apollo.gtc.edu/~mjohnson/webprog2/homework/NumberScramble/WebApplication1/default.html">Drag & Drop</a>


    </nav>

</header>